#todoList {
    padding-left: 0px;
}

#todoList li {
    list-style: none;
    padding: 10px 2px;
}

#todoList li:hover {
    background-color: #CDCDCD;
}

#todoList li .error-message {
  font-size: 12px;
  font-family: Arial;
  color: #F00000;
}

#todoList li input.error {
  border-color: #D64431;
}

.hide {
  display: none;
}

.completed {
  color: #666;
  text-decoration: line-through;
}

