<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TODO List</title>
    <meta name="description" content="Simple todo list">
    <!-- Links to external scripts -->
  </head>
  <body>
    <div id="todo"></div>
    <script type="text/template" id="item-template">
      <div>
        <input id="todoItem" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
        <%- title %>
      </div>
    </script>
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" src="js/vendor/backbone.js"></script>
  </body>
</html>
