<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TODO List</title>
    <meta name="description" content="Simple todo list">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="todo"></div>
    <script type="text/template" id="listTemplate">
      <h1>Todo List</h1>
      <ul id="todoList">
      </ul>
    </script>
    <script type="text/template" id="itemTemplate">
      <div>
        <input type="checkbox" class="status" <%= completed ? 'checked="checked"' : '' %>>
        <label class="title <%= completed ? 'completed' : '' %>"><%- title %></label>
        <input type="text" class="edit hide" value="<%= title %>">
      </div>
    </script>
    <script type="text/javascript" src="js/vendor/jquery.js"></script>
    <script type="text/javascript" src="js/vendor/underscore.js"></script>
    <script type="text/javascript" src="js/vendor/backbone.js"></script>
    <script type="text/javascript" src="js/models/todo.js"></script>
    <script type="text/javascript" src="js/collections/todos.js"></script>
    <script type="text/javascript" src="js/routers/router.js"></script>
    <script type="text/javascript" src="js/views/todos.js"></script>
    <script type="text/javascript" src="js/views/app.js"></script>
  </body>
</html>
